:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  
  --clr-light: #edeae1;
  --clr-dark: #333333;
  --clr-accent: #1ec2c5;

  
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--clr-dark);
    background-color: var(--clr-light);
    --clr-accent: #278486;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.intro__container {
  padding: 4rem 1rem;
  background-color: hotpink;
}

.intro-large {
    font-size: 1.75em;
    display: block;
}

.intro-alt {
  position: relative;
  display: inline-flex;
  color: var(--clr-accent);
}