:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  
  --clr-light: #edeae1;
  --clr-dark: #333333;
  --clr-accent: #1ec2c5;
  --clr-primary: #f23f59;

  
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--clr-dark);
    background-color: var(--clr-light);
    --clr-accent: #278486;
  }
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  margin: 0;
  padding: 1rem;
  background-clip: padding-box;
  border-radius: 100vw;
  font-weight: bold;
  white-space: nowrap;
  transition: transform 0.2s ease-out;
  touch-action: manipulation;
}

@media(hover:hover) {
  .button:hover {
    transform: translateX(0.5rem);
  }
}

.primary-button {
  color: var(--clr-light);
  background-color: var(--clr-primary);
}

.intro__container {
  padding: 4rem 1rem;
  overflow: hidden;
}

h1 {
  font-size: min(4em, 8.5vw);
  line-height: 1.1;
  white-space: nowrap;
}

.intro {
  padding-bottom: 1.5rem;
}


.intro-large {
    font-size: 2em;
    display: block;
}

.intro-cycle {
  position: relative;
  display: block;
  color: var(--clr-accent);
}

@media (min-width: 768px) {
  .intro-cycle {
    display: inline;
  }
}